{% extends "portal/base.html" %}
{% block content %}
    <h1>Berkeley Fellowship of Unitarian Universalists </h1>
    <h2>Spirituality and Social Justice in the Heart of Berkeley</h2>
    <p>The Berkeley Fellowship of Unitarian Universalists is a progressive spiritual 
        community that stands proudly as a beacon for social justice. 
        Join us for Worship Services Sundays at 10:30 a.m.</p>
    <p>Our congregation is a diverse community of people who are committed to living our 
        values of justice, compassion, and love. We are a welcoming congregation, and we 
        invite you to join us in our mission to build a more just and compassionate world.</p>
    <p>Most of our meetings and events are still online. Our staff is working from home 
        during adjusted office hours (Mon, Tue, Thu, Fri noon - 5PM).</p>
    <p>If you need pastoral care or have other concerns, please reach out.</p>
{% endblock content %}
