{% extends "portal/base.html" %}
{% block content %}
    <h1>Next Four Services</h1>
    <ul>
        {% for service in upcoming_services %}
        <li>
            <strong>{{ service.service_date|date:"F j, Y, g:i a" }}</strong>
            <br>
            Speaker: {{ service.speaker }}
            <br>
            Topic: {{ service.topic }}
            <br>
            Coordinator: {{ service.coordinator.username }}
        </li>
        {% empty %}
        <li>No upcoming services.</li>
        {% endfor %}
    </ul>
{% endblock %}
