{% extends 'portal/base_no_sidebar.html' %}

{% block content %}
  <h1>Segment Type List</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Variables</th>
        <th>Created</th>
        <th>Modified</th>
      </tr>
    </thead>
    <tbody>
    {% for segmenttype in segmenttypes %}
    <tr>
      <td>{{ segmenttype.name }}</td>
      <td>{{ segmenttype.description }}</td>
      <td>{{ segmenttype.variables }}</td>
      <td>{{ segmenttype.date_created|date:"m-d-y G:i" }}</td>
      <td>{{ segmenttype.date_modified|date:"m-d-y G:i" }}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
