{% extends 'portal/base_no_sidebar.html' %}

{% block content %}
  <h1>Service List</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Service Date</th>
        <th>Speaker</th>
        <th>Topic</th>
        <th>Coordinator</th>
        <th colspan="2">Actions</th>
      </tr>
    </thead>
    <tbody>
    {% for service in services %}
    <tr>
      <td>{{ service.service_date }}</td>
      <td>{{ service.speaker }}</td>
      <td>{{ service.topic }}</td>
      <td>{{ service.coordinator }}</td>
      <td><a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'services-update_service' service.id %}">Edit</a></td>
      <td><a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'services-delete_service' service.id %}">Delete</a></td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
