{% extends 'portal/base.html' %}

{% block content %}
  <h1>Speaker List</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Biography</th>
        <th colspan="2">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for speaker in speakers %}
        <tr>
          <td>{{ speaker.name }}</td>
          <td>{{ speaker.biography }}</td>
          <td><a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'services-update_speaker' speaker.id %}">Edit</a></td>
          <td><a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'services-delete_speaker' speaker.id %}">Delete</a></td>
            </tr>
      {% empty %}
        <tr>
          <td colspan="4">No speakers found.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
